<p id="notice"><%= notice %></p>

<div class="well">

<p>
  <b>Starts at:</b>
  <%= @game.starts_at %>
</p>

<p>
  <b>Ends at:</b>
  <%= @game.ends_at %>
</p>

</div>

<div class="well">
	<%= @game.name %> at <%= @game.venue.name %>
	</div>

<p>
<%= image_tag 'http://maps.googleapis.com/maps/api/staticmap?sensor=false&size=600x300&markers=color:red|label:B|' + @game.venue.address %>
</p>


<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
